
- templateName: 'testscratch'
- baseTemplateName: 'debian8_64'
#- customHostname: 'ovh01.test.production.int.synthesio.net'
- postInstallationScriptLink: ''
- postInstallationScriptReturn: ''
- sshKeyName: 'deploy'
- useDistributionKernel: true
- defaultLanguage: 'en'
# Not sure
- partitionScheme: 'custom'
# Not sure
- partitionSchemePriority: 1
- isSoftwareRaid: true
- isHardwareRaid: false
- partition:
    - "{'filesystem':'ext4','mountpoint':'/','raid':'1','size':'20000','step':'1','type':'primary'}"
    - "{'filesystem':'swap','mountpoint':'swap','size':'512','step':'2','type':'primary'}"
    - "{'filesystem':'xfs','mountpoint':'/srv','raid':'1','size':'0','step':'3','type':'primary'}"
